@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url('E:\MERN Stack course\Poppins-Regular.ttf');
}

hr {
    border-top: 1px dashed #DADADA;
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5%;
}

.ppa-logo,
.profile-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 7.77402px;
    margin-left: 5px;
}

#company-logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

#company-name {
    color: #444BAB;
}

.bell-icon {
    margin-top: 10px;
    margin-right: 20px;
}

#navbar-image {
    height: 48px;
    width: 48px;
    border-radius: 25px;
}

#navbar-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #343A40;
    margin-right: 20px;
    margin-left: 10px;
}

#main-section {
    display: flex;
    flex-direction: row;
    background: #F5F5F5;
}

#left-section {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 55%;
    background: #FFFFFF;
    margin: 30px;
    padding: 10px;
}

#main-profile-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#about-me-profile {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

#contact-details {
    padding: 10px;
}

.left-side-para {
    font-size: 1.2rem;
    text-align: justify;
    padding: 6px 0 6px 0;
    color: black;
}

#web-details {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#web-details .web-portfolio-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #565655;
}

#right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px;
}

.container {
    margin-bottom: 32px;
    background-color: white;
    padding: 25px;
    word-wrap: break-word;
}

.profile-div-heading {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: left;
}

.projects-frameworks {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: justify;
    color: black;
}

#about-me-image {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 18vw;
    width: 18vw;
    border-radius: 100px;
}

.org-college-grad-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #6B6C6D;
}

.full-name {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

@media only screen and (max-width: 750px) {
    #main-section {
        display: flex;
        flex-direction: column;
    }
    #left-section {
        padding: 25px;
        margin: 25px 25px 50px 25px;
        background-color: white;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    #about-me-image {
        height: 200px;
        width: 200px;
    }
    #right-section {
        margin: 25px 25px 50px 25px;
    }
}